# ==============================================================================
# ENVIRONMENT SETTINGS - SMPS IT ISHLAHUL UMMAH PRABUMULIH (CPANEL PRODUCTION)
# ==============================================================================
APP_NAME="SMPS IT Ishlahul Ummah Prabumulih"
APP_ENV=production
APP_KEY=base64:/pHX1Fa5FrzEUD5baFuzVKajWGQ4oUjuO53ytzrw2ac=
APP_DEBUG=false
APP_URL=https://smpitishumpbm.sch.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# ==============================================================================
# DATABASE CPANEL (Gunakan MySQL di cPanel)
# ==============================================================================
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=berandad_db_smpitishum
DB_USERNAME=berandad_admin_smpitishum
DB_PASSWORD=P4l3mb4ng123!

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="admin@smpitishumpbm.sch.id"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# cPanel Setup Helper Secret Token
CPANEL_SETUP_TOKEN=SmpItIshum2026Setup
